/* Background */
body{
    background-color: rgb(19, 141, 71);
}

/* Titres */
h1{
    color: rgb(180, 141, 12);
    text-align: center;
}

h2{
    text-align: center;
}

/* Visuel du menu de Connexion */
#log_zone{
    position: absolute;
    top: 3%;
    left: 83%;
    background: black;
    border-radius: 10px;
    width: 220px;
    height: 87px;
    text-align: center;
}

#log_zone label{
    color: rgb(19, 141, 71)
}

/* Mise en page du Menu Principal */
#conteneur{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: black;
    border-radius: 10px;
}

.element, a{
    color: rgb(19,141,71);
}

/* Mise en forme des boutons */
input[type=submit], input[type=reset], input[type=button]{
    background-color: black;
    color: rgb(19, 141, 71);
    border-radius: 15px;
    border-color: rgb(19, 141, 71);
    height: 30px;
    width: 85px;
}

<<<<<<< HEAD
/* Bas de Page */
footer{
    background-color: black;
    color: rgb(19, 141, 71);
    text-align: center;
    background-position: 90%;
}
=======
/* Mise en Forme du Formulaire d'inscription */
table{
    text-align: center;
}
>>>>>>> Visuel-Inscription
