/* Visuel de la page d'inscription */
body{
    background-color: rgb(19, 141, 71);
}

h1{
    color: rgb(180, 141, 12);
    text-align: center;
}

table{
    text-align: center;
    background-position-x: 50%;
    background-position-y: 50%;
}

a{
    color: black;
}

/* Mise en forme des boutons */
input[type=submit], input[type=reset], input[type=button]{
    background-color: black;
    color: rgb(19, 141, 71);
    border-radius: 15px;
    border-color: rgb(19, 141, 71);
    height: 30px;
    width: 85px;
}

/* Bas de Page */
footer{
    background-color: black;
    border-top-left-radius: 5000px;
    border-top-right-radius: 5000px;
    color: rgb(19, 141, 71);
    text-align: center;
    position: absolute;
    top:91%;
    width:99%;       
}

.element, a{
    color: rgb(19,141,71);
    font-size: 30px;
}
