/* Background */
body{
    background-color: rgb(19, 141, 71);
}

/* Title CSS */
h1{
    color: rgb(180, 141, 12);
    text-align: center;
}

h2{
    text-align: center;
}

/* Visuel du menu de Connexion */
#log_zone{
    position: absolute;
    top: 3%;
    left: 83%;
    background: black;
    border-radius: 10px;
    width: 220px;
    height: 87px;
    text-align: center;
}

#log_zone label{
    color: rgb(19, 141, 71)
}

/* Mise en page du Menu */
#conteneur{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: black;
    border-radius: 10px;
}

.element{
    color: rgb(19,141,71);
}

a{
    color: rgb(19,141,71);
}

/* Bas de Page */
footer{
    background-color: black;
    color: rgb(19, 141, 71);
    text-align: center;
    background-position: 90%;
}
